.product-page-container{
    padding: 120px 0px 0px 0px;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    font-family: Poppins, sans-serif;
    margin-bottom: 300px;
}
.img-page-container{
    width: 49%;
    height: 100%;
    display: inline-block;
}
.product-page-info{
    width: 51%;
    padding: 0 0 0 28px;
    display: flex;
    flex-direction: column;
}
.product-page-info>h2{
    font-size:35px;
    color: #282828;
    font-weight: 500;
}
.product-page-rating{
    height: 17px;
    width: 100%;
    margin: 3px 0;
}
.product-page-price{
    margin: 8px 0 11px;
    line-height: 1;
    color: #282828;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    font-size: 15px;
}
.product-page-description{
    margin: 36px 0 5px;
    color: #939393;
    font-family: Poppins,sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
}
.img-page-container-img{
    width: 500px;
    height: 590px;
}
.add-to-cart{
    display: flex;
    margin-top: 36px;
}
.add-product-btn{
    padding: 8px 23px;
    font-size: 12px;
    color: #fff;
    background-color: #282828;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Poppins, sans-serif;
    display: inline-block;
    border: 1px solid #282828;
    white-space: nowrap;
    border-radius: 2px;
    transition:  .35s cubic-bezier(.77,0,.175,1);
    margin-left: 6px;
}
.add-product-btn:hover{
    background-color: transparent;
    color: #282828;
    transition:  .35s cubic-bezier(.77,0,.175,1);
}
.product-counter{
    width: 110px;
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
    box-sizing: border-box;
}
.add-to-wishlist{
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: -7px;
    cursor: pointer;
}
.add-to-wishlist>span{
    font-size: 12px;
    font-weight: 200;
    color: #282828;
}
.add-to-wishlist>span>strong{
    color: #939393;
    font-weight: 600;
}
.wishlistLogo{
    width: 12px;
    height: 12px;
    margin-right: 12px;
}
.product-category-info>p{
    margin: 0;
    font-size: 12px;
    margin: 3px 0;
    color: black;
    font-weight: 300;
}
.product-category-info{
    margin-top: auto;
}